* {
    font-family: proxima-nova, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --main-text: #e1e1e1;
    --bg-color: #191b1f;
    --blue: #3eb0ef;
    --green: #a4d037;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--main-text);
}

#wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

button.button {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.15s;
}

button.button:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 1000px rgba(0, 0, 0, 0.25);
}

button.button.is-big {
    font-size: 2rem;
    padding: 20px 40px;
}

button.button.is-green {
    background-color: var(--green);
}

button.button.is-green:hover {
    color: var(--main-text);
}

#model {
    display: none;
}
